{% extends "base.html" %}

{% block title %}
  Pet Details
{% endblock title %}

{% block content %}
  <div class="card text-center content-center mr-3 ml-3">
    {% if pet.image %}
      <img src="{{pet.image.url}}" class="card-img-top" alt="{{pet.name}}" >
    {% endif %}
    <div class="card-body text-center">
      <h2 class="card-title">{{pet.name}}</h2>
      <p class="card-text">{{pet.age}}</p>
      <a href="{% url 'update_pet' pet_id=pet.id %}" class="btn btn-block" style="background-color:paleturquoise">Update</a>
      <a href="{% url 'delete_pet' pet_id=pet.id %}" class="btn btn-danger btn-block">Delete</a>
    </div>
  </div>
{% endblock content %}
