{% extends "base.html" %}

{% block title %}
  Pets List
{% endblock title %}

{% block content %}
    {% for pet in pets %}
      <div class="card text-center content-center mr-3 ml-3">
        {% if pet.image %}
          <img src="{{pet.image.url}}" class="card-img-top" alt="{{pet.name}}" >
          {% endif %}
          <div class="card-body text-center">
            <h2 class="card-title">{{pet.name}}</h2>
            <a href="{% url 'pets_detail' pet.id %}" class="btn btn-block" style="background-color:paleturquoise">Details</a>
          </div>
        </div>
    {% endfor %}
{% endblock content %}
